USE [master]
GO
/****** Object:  Database [TAADRILL]    Script Date: 3/18/2017 11:46:52 AM ******/
CREATE DATABASE [TAADRILL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TAADRILL', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MATT\MSSQL\DATA\TAADRILL.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TAADRILL_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MATT\MSSQL\DATA\TAADRILL_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TAADRILL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TAADRILL]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 3/18/2017 11:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOOK](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[PublisherName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOOK_AUTHORS]    Script Date: 3/18/2017 11:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOOK_AUTHORS](
	[BookID] [int] NOT NULL,
	[AuthorName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BOOK_AUTHORS] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOOK_COPIES]    Script Date: 3/18/2017 11:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_COPIES](
	[BookID] [int] NOT NULL,
	[BranchID] [int] NOT NULL,
	[No_Of_Copies] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOOK_LOANS]    Script Date: 3/18/2017 11:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_LOANS](
	[BookId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[CardNo] [int] NOT NULL,
	[DateOut] [date] NOT NULL,
	[DueDate] [date] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BORROWER]    Script Date: 3/18/2017 11:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BORROWER](
	[CardNo] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
 CONSTRAINT [PK_BORROWER] PRIMARY KEY CLUSTERED 
(
	[CardNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIBRARY_BRANCH]    Script Date: 3/18/2017 11:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIBRARY_BRANCH](
	[BranchID] [int] NOT NULL,
	[Branchname] [varchar](50) NOT NULL,
	[Address] [varchar](50) NULL,
 CONSTRAINT [PK_LIBRARY_BRANCH] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUBLISHER]    Script Date: 3/18/2017 11:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUBLISHER](
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
 CONSTRAINT [PK_PUBLISHER] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BOOK_AUTHORS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_AUTHORS_BOOK] FOREIGN KEY([BookID])
REFERENCES [dbo].[BOOK] ([BookID])
GO
ALTER TABLE [dbo].[BOOK_AUTHORS] CHECK CONSTRAINT [FK_BOOK_AUTHORS_BOOK]
GO
ALTER TABLE [dbo].[BOOK_COPIES]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_COPIES_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[BOOK] ([BookID])
GO
ALTER TABLE [dbo].[BOOK_COPIES] CHECK CONSTRAINT [FK_BOOK_COPIES_Book]
GO
ALTER TABLE [dbo].[BOOK_COPIES]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_COPIES_LIBRARY_BRANCH] FOREIGN KEY([BranchID])
REFERENCES [dbo].[LIBRARY_BRANCH] ([BranchID])
GO
ALTER TABLE [dbo].[BOOK_COPIES] CHECK CONSTRAINT [FK_BOOK_COPIES_LIBRARY_BRANCH]
GO
ALTER TABLE [dbo].[BOOK_LOANS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_LOANS_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[BOOK] ([BookID])
GO
ALTER TABLE [dbo].[BOOK_LOANS] CHECK CONSTRAINT [FK_BOOK_LOANS_Book]
GO
ALTER TABLE [dbo].[BOOK_LOANS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_LOANS_BORROWER] FOREIGN KEY([CardNo])
REFERENCES [dbo].[BORROWER] ([CardNo])
GO
ALTER TABLE [dbo].[BOOK_LOANS] CHECK CONSTRAINT [FK_BOOK_LOANS_BORROWER]
GO
ALTER TABLE [dbo].[BOOK_LOANS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_LOANS_LIBRARY_BRANCH] FOREIGN KEY([BranchId])
REFERENCES [dbo].[LIBRARY_BRANCH] ([BranchID])
GO
ALTER TABLE [dbo].[BOOK_LOANS] CHECK CONSTRAINT [FK_BOOK_LOANS_LIBRARY_BRANCH]
GO
ALTER TABLE [dbo].[BORROWER]  WITH CHECK ADD  CONSTRAINT [FK_BORROWER_BORROWER] FOREIGN KEY([CardNo])
REFERENCES [dbo].[BORROWER] ([CardNo])
GO
ALTER TABLE [dbo].[BORROWER] CHECK CONSTRAINT [FK_BORROWER_BORROWER]
GO
USE [master]
GO
